@*
    ====================================
    Version: 5.0.0.0. Modified: 20210818
    ====================================
*@

@using EPiServer.Forms.Helpers.Internal
@model EPiServer.Forms.Implementation.Elements.FileUploadElementBlock

@{ var formElement = Model.FormElement;
    var labelText = Model.Label;
    var allowMultiple = Model.AllowMultiple ? "multiple" : string.Empty;
    var cssClasses = Model.GetValidationCssClasses();
    var accept = !string.IsNullOrEmpty(Model.FileExtensions) ? Model.FileExtensions : string.Empty;
}

@using (Html.BeginElement(Model, new { @class = "FormFileUpload" + cssClasses, data_f_type = "fileupload" }))
{
    <label for="@formElement.Guid" class="Form__Element__Caption">@labelText</label>
    <input name="@formElement.ElementName" id="@formElement.Guid" type="file" class="FormFileUpload__Input"
           @allowMultiple @accept 
           @Html.Raw(Model.AttributesString)
           data-f-datainput aria-describedby="@Util.GetAriaDescribedByElementName(formElement.ElementName)"
           aria-invalid="@Util.GetAriaInvalidByValidationCssClasses(cssClasses)" />
    <div class="FormFileUpload__PostedFile" data-f-postedFile></div>
    @Html.ValidationMessageFor(Model)
}
